.product {
    display: block;
    background-color: lightgray;
    padding: 10px;
}

.product img {
    width: 100%;
    height: auto;
}

.product button {
    display: inline-block;
    outline: none;
    cursor: pointer;
    font-weight: 600;
    border-radius: 3px;
    padding: 12px 24px;
    border: 0;
    color: #3a4149;
    background: #e7ebee;
    line-height: 1.15;
    font-size: 16px;
}